<p>I want to show the information of each seller</p>
<p> Hi all</p>
<%= @seller.name%>
<%= @seller.description%>
<%= @seller.rating_point%>
<%= @seller.rating_total_good%>
<%= @seller.rating_total_bad%>
<%= @seller.rating_is_suspended%>
<%= @seller.rating_is_deleted%>
<%= @seller.rating_url%>