<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <%= render partial: 'spree/shared/header/header' %>

    <div class="body-container">
      <%= spree_breadcrumbs(@taxon) %>

      <%= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>

      <div id="content">
        <%= flash_messages %>
        <%= yield %>
      </div>

      <%= yield :templates %>
    </div>

    <%= render 'spree/shared/paths' %>

    <%= render partial: 'spree/shared/footer' %>

    <!-- javascript -->

    <%= javascript_include_tag "#{public_statics_assets_root}/assets/js/jquery.js" %>
    <%= javascript_include_tag "#{public_statics_assets_root}/assets/js/jquery.easing.1.3.js" %>
    <%= javascript_include_tag "#{public_statics_assets_root}/assets/js/popper.js" %>
    <%= javascript_include_tag "#{public_statics_assets_root}/assets/js/bootstrap.min.js" %>
    <%= javascript_include_tag "#{public_statics_assets_root}/assets/js/choices.js" %>
    <%= javascript_include_tag "#{public_statics_assets_root}/assets/js/jquery.magnific-popup.js" %>
    <%= javascript_include_tag "#{public_statics_assets_root}/assets/js/owl.carousel.js" %>
    <%= javascript_include_tag "#{public_statics_assets_root}/assets/js/moment-with-locales.min.js" %>
    <%= javascript_include_tag "#{public_statics_assets_root}/assets/js/kendo.all.min.js" %>

    <!-- End of search base javascript styles -->

    <%= render 'spree/shared/constants' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
      Spree.translations = <%== { coupon_code_applied: Spree.t(:coupon_code_applied) }.to_json %>
    </script>
  </body>
</html>